#mainDashboard {
  background-color: black;
  color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
  li {
    cursor: pointer;
    padding-top: 1.1rem;
    ul {
      background-color: black;
      padding-left: 0;
      li {
        background-color: purple;
        color: white;
      }
    }
  }
}
